.cooljsMenu_16 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_248 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_17 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1314 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_248 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_247 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_249 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_251 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_242 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_246 {font-size:  12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_245 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_244 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_260 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_382 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_383 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_254 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_253 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_255 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_256 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_257 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_259 {font-size:  12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1093 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1315 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1445 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1314 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1445 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1446 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1447 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1848 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1856 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
.cooljsMenu_1869 {font-size: 12px;font-weight: norma;color: #000000;text-align:center;font-family: 新細明體;}
